<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <p id="add"><%= skinName %></p>
    <div class="container">
        <span href="#skin" target="if_sidebar">블로그스킨바꾸기</span>
    </div>
    <sidebar>
        <iframe width="400" height="250" name="if_sidebar" frameborder="0"></iframe> 
    </sidebar>
</body>
</html>