<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        <% list.forEach(function(elements){ %>
            <p><img src="<%= elements %>" width="300" height="500">image</p>
        <% }) %>
    </p>
    <p>
        <!--<button type="button" value="Exit Button" onclick="location.href='https://intense-wildwood-72190.herokuapp.com/index'">Exit button</button>-->
        <button type="button" value="Exit Button" onclick="location.href='http://localhost:<%= ports %>/index'">Exit button</button>
    </p>>
</body>
</html>